/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: url("../../public/assets/img/wizard.svg");
    background-size: cover;
}
